<div class="profile-component">
    <h1>Profil</h1>
    <form [formGroup]="profileForm">
        <mat-form-field>
            <mat-label for="name">Név:  </mat-label>
            <input matInput type="text" formControlName="name"/>
        </mat-form-field>
        <mat-form-field>
            <mat-label for="email">Email cím: </mat-label>
            <input matInput type="text" formControlName="email" />
        </mat-form-field>
    
        <mat-form-field>
            <mat-label for="usernumber">Felhasználó azonosító: </mat-label>
            <input matInput type="text" formControlName="felhasznalo_azonosito" />
        </mat-form-field>
    </form>
</div>

<div>
    <p>Az alábbi táblázatban láthatod a felvitt felhasználási helyeidet. Az adott sorban lévő gombbal megtekintheted a felhasználási helyhez tartozó mérőórát és a hozzátartozó óraállást. Ha nincs felhasználási helyed az 'Adat hozzáadása' fülön tudsz újat hozzáadni</p>
</div>

<div class="list-component">
    <h1>Felhasználási helyek</h1>
    <table>
        <thead>
        <tr>
            <th>Felhasználói azonosító</th>
            <th>Felhasználási hely azonosító</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hely of this.helyek; let i = index" [ngClass]="i % 2 === 0 ? 'table-header-even': 'table-header-odd'">
            <td>{{hely.felhasznalo_azonosito}}</td>
            <td>{{hely.felhasznalasi_hely_azonosito}}</td>
            <td><button mat-raised-button color="primary" (click)="onButtonClick(hely.felhasznalasi_hely_azonosito)">Mérőórák</button></td>
        </tr>
        </tbody>
    </table>
</div>


  
