.meroora-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

div{
    margin: 10px;
}

button{
    margin-left: 10px;
    
}

form{
    display: inline-grid;
    width: 50%;
    align-self: center;
}