.login-component{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}

button{
    margin-left: 10px;
}

mat-form-field{
    width: 50%;
}

