<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="login-component">
    <h1>Bejelentkezés</h1>
    <mat-form-field>
        <mat-label for="email">Email cím: </mat-label>
        <input matInput type="text" [formControl]="email"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="password">Jelszó: </mat-label>
        <input matInput type="password" [formControl]="password"/>
    </mat-form-field>
    <span>
        <button mat-raised-button color="primary" (click)="login()">Belépés</button>
        <button mat-raised-button color="primary" [routerLink]="'/regist'">Regist</button>
    </span>
</div>
