<div class="list-component">
    <p>Ez a táblázat a {{this.felhasznalasihely_az}} számú felhasználói hely mérőóráit és a hozzá tartozó óraállásokat listázza ki. A sorban lévő 'Töröl' gombbal ki lehet törölni az adott óraállást.</p>

    <p>{{this.felhasznalasihely_az}} számú felhasználói hely</p>

    <table>
        <thead>
        <tr>
            <th>Mérőóra azonosító azonosító</th>
            <th>Óraállás</th>
            <!-- <th>Dátum</th> -->


        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ora of this.oraallas; let i = index" [ngClass]="i % 2 === 0 ? 'table-header-even': 'table-header-odd'">
                <td>{{ora.meroora_azonosito}}</td>
                <td>{{ora.oraallas}}</td>  
                <!-- <td>{{ firebase.default.firestore.Timestamp.fromDate(new Date(ora.datum)).toDate() | date:'yyyy-MM-dd HH:mm:ss' }}</td>  -->
                <td><button mat-raised-button color="primary" (click)="onDelete(ora.id)">Törlés</button></td>      
            </tr>
        </tbody>
    </table>
</div>
  
  